.wrapper{
  display: flex;
}

.side_bar{
  width: 300px;
  background-color: #253141;
  height: 100vh;
}

.side_header{
  height: 100px;
  padding: 0px 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.new_chat a{
  font-size: 10px;
  color: deepskyblue;
  border: 1px lightblue solid;
  text-decoration: none;
  padding: 14px;
}

.side_main{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0px 20px;
  overflow: scroll;
}

.room{
  color: white;
  padding: 20px 0px 40px;
}

.room_name a{
  text-decoration: none;
  color: white;
}

.main_chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.main_header{
  height: 100px;
  padding: 0px 40px;
}

.chat_page{
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0px;
}

.chat_footer{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}

