.wrapper{
  display: flex;
}

.side_bar{
  width: 300px;
  background-color: #253141;
  height: 100vh;
}

.side_header{
  height: 100px;
  padding: 0px 20px;
}

.side_main{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0px 20px;
}

.main_chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.main_header{
  height: 100px;
  padding: 0px 40px;
}

.chat_page{
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0px;
}

.chat_footer{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}